name: Split Monorepo

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  split:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Split myframework-core
        uses: symplify/monorepo-split-github-action@v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          package_directory: 'packages/myframework-core'
          repository_organization: 'lbayerl'
          repository_name: 'myframework-core'
          user_name: "lbayerl"
          user_email: "lugge@lugge.de"
          branch: "main"
